---
layout: base
---

<div class="container">
  <div class="markdown">
    <h2 class="text-center">Traits</h2>

    <p>
      Ether Cards have a large variety of Traits that provide cardholders 
      with benefits for both the digital and physical world. Traits can be 
      divided into three categories: Limited Edition, Random Edition, and 
      Conditional Traits.
    </p>
    <p>
      Limited Edition Traits are the most valuable and powerful Traits. These 
      Traits never expire and will never be offered again. Users can select 
      which Trait(s) they would like to assign to their Limited Trait Slots. 
      Founder Cards have one slot, Alphas have two, and OGs have three. Most 
      Limited Edition Traits will have the ability to level up.
    </p>
    <p>
      Random Edition Traits vary in their benefits and value, and are assigned
      randomly to cards. Some cards will have lots of these Traits, while others
      may only contain one or in some rare cases, none.
    </p>
    <p>
      Conditional Traits generally have a set value and are only applied
      to cards that meet the conditional requirements.
    </p>
    <p>
      Many of these Traits can be applied to partner collections that 
      are created using the EtherCards platform.
    </p>

    <h3 class="mb-3 mt-5">Limited Edition Traits</h3>

    <ul class="mb-5">
      <li>Discount Traits</li>
      <li>Creation Traits</li>
      <li>Ticket Traits</li>
      <li>Lucky Traits</li>
    </ul>



    
    {% assign limited = site.traits | where:"type", "limited_edition" %}

    <div class="row">
      {% for trait in limited %}
        {% include trait.html trait=trait %}
      {% endfor %}
    </div>


    <h3 class="mb-3 my-5">Random Edition Traits</h3>

    {% assign random = site.traits | where:"type", "random_edition" %}

    <div class="row">
      {% for trait in random %}
        {% include trait.html trait=trait %}
      {% endfor %}
    </div>



    <h3 class="mb-3 my-5">Conditional Traits</h3>

    {% assign conditional = site.traits | where:"type", "conditional" %}

    <div class="row">
      {% for trait in conditional %}
        {% include trait.html trait=trait %}
      {% endfor %}
    </div>




    <div class="row text-left disclaimer">
      <p>
        For legal purposes, we have to include this disclaimer. This of course 
        doesn’t mean that we won’t do our absolute best to make every one of the 
        Traits possible, but since this is new technology and new legal territory, 
        we need to make sure that the terms and conditions are in order.
      </p>
      <p>  
        All Traits presented here will continue to be iterated and can change,
        be adapted or removed should technical, legal or other challenges arise.
        Ether Cards makes no representation that these Traits will increase the
        value of any card.
      </p>
      <p>
        Ether Cards makes no representation, warranty, or undertaking, express
        or implied, as to the accuracy, reliability, completeness, or
        reasonableness of the information in any posts. Any assumptions,
        opinions, and details expressed in any Ether Cards blog or community
        posts constitute Ether Cards' judgment as of the date thereof and are
        subject to change without notice. Any projections or claims contained in
        the information are based on a number of assumptions including, but not
        limited to market conditions and the current status of Ether Cards, and
        there can be no guarantee that any projected outcomes will be achieved.
      </p>
      <p>
        Ether Cards does not accept any liability for any direct, consequential,
        or other loss arising from reliance on the contents of the information
        in this post.
      </p>
    </div>
  </div>
</div>
