---
layout: base
---

<div class="container">
  <div class="markdown">
    <h2 class="text-center">Traits</h2>
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="text-center mb-5 pb-3">
        <p>
          Traits Ether Cards have a large variety of Traits that provide
          cardholders with benefits for both the digital and physical world.
          Traits can be divided into three categories: Limited Edition, Random
          Edition, and Conditional Traits. Many of these Traits can be applied
          to partner collections that are created using the EtherCards platform.
        </p>
      </div>


      {% assign collapsible = site.data.traits-collapsible %}

      {% for item in collapsible %}
        {% assign itemId = item.name | downcase | replace: ' ', "-" %}
        <div id="{{itemId}}">
          <div class="faq-item mb-3" id="to-1">
            <button
              class="collapsed item-head d-flex justify-content-between"
              data-toggle="collapse"
              data-target="#{{forloop.index}}"
              aria-expanded="false"
              aria-controls="{{forloop.index}}"
            >
              <h3>{{item.title}}</h3>
              <span></span>
            </button>

            <div class="collapse" id="{{forloop.index}}">
              <p class="p-2 mt-3">
                {{item.desc}}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <h2 class="text-center mb-5 mt-5">Limited Edition Traits</h2>

    {% assign limited = site.traits | where:"type", "limited_edition" %}

    <div class="row">
      {% for trait in limited %} {% include trait.html trait=trait %} {% endfor
      %}
    </div>

    <h2 class="text-center mb-5 mt-3">Random Edition Traits</h2>

    {% assign random = site.traits | where:"type", "random_edition" %}

    <div class="row">
      {% for trait in random %} {% include trait.html trait=trait %} {% endfor
      %}
    </div>

    <h2 class="text-center mb-5 mt-3">Conditional Traits</h2>

    {% assign conditional = site.traits | where:"type", "conditional" %}

    <div class="row">
      {% for trait in conditional %} {% include trait.html trait=trait %} {%
      endfor %}
    </div>

    <div class="row text-center disclaimer">
      <p>
        For legal purposes, we have to include this disclaimer. This of course
        doesn’t mean that we won’t do our absolute best to make every one of the
        Traits possible, but since this is new technology and new legal
        territory, we need to make sure that the terms and conditions are in
        order.
      </p>
      <p>
        All Traits presented here will continue to be iterated and can change,
        be adapted or removed should technical, legal or other challenges arise.
        Ether Cards makes no representation that these Traits will increase the
        value of any card.
      </p>
      <p>
        Ether Cards makes no representation, warranty, or undertaking, express
        or implied, as to the accuracy, reliability, completeness, or
        reasonableness of the information in any posts. Any assumptions,
        opinions, and details expressed in any Ether Cards blog or community
        posts constitute Ether Cards' judgment as of the date thereof and are
        subject to change without notice. Any projections or claims contained in
        the information are based on a number of assumptions including, but not
        limited to market conditions and the current status of Ether Cards, and
        there can be no guarantee that any projected outcomes will be achieved.
      </p>
      <p>
        Ether Cards does not accept any liability for any direct, consequential,
        or other loss arising from reliance on the contents of the information
        in this post.
      </p>
    </div>
  </div>
</div>
