<li class="nav-item dropdown">
    <a id="navbarDropdown" href="https://ether.cards/cards" class="nav-link dropdown-toggle ml-xs-1 ml-0 navbarDropdown">
      ETHER CARDS
    </a>
    <div class="dropdown-menu scrollable-menu">
        {% for item in site.data.cards-navigation %}
        {% if item.basepath != '' %}
        {% assign basepath = item.basepath | append: "/" %}
        {% endif %}
        <a class="dropdown-item" 
        {% if item.url%}
        href="{{item.url}}"
            {% if item.newTab %}
            target="_blank"
            {% endif %}
        {% else %}
            href="{{ item.path }}"
        {% endif %}
        >{{ item.name }}</a
        >
        {% endfor %}
    </div>
</li>
