
<!-- Navbar Section -->
<nav class="navbar navbar-expand-lg fixed-top effect-main">
  <div class="container">
    <a class="navbar-brand" href="https://ether.cards/">
      <img style="max-height: 40px" alt="st-logo" src="{{base}}/assets/images/logo_white.png" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-dark navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav container">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="http://ether.cards/"
            >home</a
          >
        </li>
        {% include nav_cards_dropdown.html %}
        {% include nav_platforms_dropdown.html %}
        {% include nav_about_dropdown.html %}
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="https://explorer.ether.cards/#/wallet"
            >WALLET</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar End -->
