<section id="pre-footer">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1 col-md-7 col-lg-5 offset-md-0">
        <div class="row">
          <div class="col newsletter-title">
            <h4>
              Join the Ether Cards<br />
              community to stay up to date
            </h4>

            <form id="register-form">
              <div class="input-group mb-3">
                <input
                  class="form-control"
                  placeholder="Email Address"
                  type="email"
                  name="email"
                  required
                />
                <button
                  id="submit-form"
                  class="btn btn-purple-fill"
                  type="submit"
                >
                  Join Now
                  <div class="spinner-border"></div>
                </button>
              </div>
            </form>
            <p style="margin-left: 20px; font-size: 14px">
              * Subscribe today for update
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="row px-5 px-md-0">
          <div class="col-4 col-md-3">
            <h5>Cards</h5>
            <ul>
              <li>
                <a href="https://ether.cards/cards.html" target="_blank"
                  >Ether Cards</a
                >
              </li>
              <li>
                <a href="https://explorer.ether.cards" target="_blank"
                  >Gallery/Explorer</a
                >
              </li>
              <li>
                <a href="https://traits.ether.cards" target="_blank">Traits</a>
              </li>
            </ul>
          </div>

          <div class="col-4 col-md-3">
            <h5>Platforms</h5>
            <ul>
              <li>
                <a href="https://ether.cards/events.html" target="_blank"
                  >Events</a
                >
              </li>
              <li>
                <a href="https://bizdev.ether.cards" target="_blank"
                  >Business</a
                >
              </li>
            </ul>
          </div>

          <div class="col-4 col-md-3">
            <h5>About</h5>
            <ul>
              <li>
                <a href="https://blog.ether.cards" target="_blank">Blog</a>
              </li>
              <li>
                <a href="https://docs.ether.cards/faq" target="_blank">FAQ</a>
              </li>
              <li>
                <a href="https://docs.ether.cards/team" target="_blank">Team</a>
              </li>
            </ul>
          </div>

          <div class="col-12 col-md-3">
            <h5>Contact Us</h5>
            <div class="social-icons">
              <a href="https://twitter.com/ether_cards" target="_blank"
                ><img src="./assets/images/twitter.png" alt="twitter"
              /></a>
              <a href="https://discord.com/invite/mBwauRSJNW" target="_blank"
                ><img src="./assets/images/discord.png" alt="discord"
              /></a>
              <a href="https://www.reddit.com/r/Ether_Cards/" target="_blank"
                ><img src="./assets/images/reddit.png" alt="discord"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="thankYouPopup" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span>×</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="thank-you-popup">
            <img height="40" src="./assets/images/success.png" alt="Successful" />
            <h2>Thank You!</h2>
            <p>
              Your submission has been received! Hop over to our Discord to get
              daily bites of our upcoming launch!
            </p>
            <a
              style="color: white !important"
              class="btn btn-outline btn-peach"
              href="https://discord.com/invite/mBwauRSJNW"
              target="_blank"
              >Join Discord</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
