---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col-lg-8 ml-auto mr-auto">
      <div class="markdown trait-page">
        <div
          class="trait-container mb-4 flex ml-auto mr-auto"
          style="max-width: 250px"
        >
          <div class="trait p-4 flex-column align-items-center d-flex">
            <img
              style="
                display: block;
                margin: 10px auto 10px auto;
                max-height: 50px;
              "
              src="{{base}}/assets/images/trait-icons/{{page.image}}"
            />
            <h4 class="text-center">{{page.name}}</h4>

            <div class="stats mt-4">
              <h5 class="text-center text-gray mb-2">
                Category: <span class="font-weight-normal">{{page.category}}</span>
              </h5>
              <h5 class="text-center text-gray mb-2">
                Applies to: <span class="font-weight-normal">{{page.card_types}}</span>
              </h5>
              <h5 class="text-center text-gray mb-2">
                Max issuance: <span class="font-weight-normal">{{page.max_issuance}}</span>
              </h5>
              <h5 class="text-center text-gray mb-2">
                Burnt upon use: <span class="font-weight-normal">{{page.burnt_upon_use}}</span>
              </h5>
              <h5 class="text-center text-gray mb-2">
                Effect of transferring cards: <span class="font-weight-normal">{{page.effect_of_transferring}}</span>
              </h5>
              <h5 class="text-center text-gray mb-2">Limit: <span class="font-weight-normal">{{page.limit}}</span></h5>

              {% if page.community_trait %}
              <h5 class="text-center text-gray mb-2">
                Community Trait proposed by: <span class="font-weight-normal">{{page.community_trait}}</span>
              </h5>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="text-center">
          {{content}}

          <span
            class="btn btn-peach btn-outline mt-5"
            onClick="window.history.back()"
            >BACK</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
