---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col-lg-8 ml-auto mr-auto">
      <div class="markdown trait-page">
        {{content}}

        <div class="stats mt-4">
          <p class="my-0">Category: <span class="text-white">{{page.category}}</span> </p>
          <p class="my-0">Applies to: <span class="text-white">{{page.card_types}}</span> </p>
          <p class="my-0">Max issuance: <span class="text-white">{{page.max_issuance}}</span> </p>
          <p class="my-0">Burnt upon use: <span class="text-white">{{page.burnt_upon_use}}</span> </p>
          <!-- <p class="my-0">Max Usages: <span class="text-white">{{page.max_usages}}</span> </p> -->
          <p class="my-0">Effect of transferring cards: <span class="text-white">{{page.effect_of_transferring}}</span> </p>
          <p class="my-0">Limit: <span class="text-white">{{page.limit}}</span> </p>
          <!-- <p class="my-0">Period of validity: <span class="text-white">{{page.period_of_validity}}</span> </p> -->
          {% if page.community_trait %}
            <p class="my-0">Community Trait proposed by: <span class="text-white">{{page.community_trait}}</span> </p>
          {% endif %}



        </div>
        <div class="text-center">
          <span class="btn btn-peach btn-outline mt-5" onClick="window.history.back()">BACK</span>
        </div>
      </div>

    </div>
  </div>
</div>
